/*------------------------------------*\
    #Video
\*------------------------------------*/
.video {
    position       : relative;
    border-radius  : 8px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 560px;

    &.video-2 {
        margin-bottom: 67px;
    }
}

.mfp-bg {
    z-index: 1543;
}

.mfp-wrap {
    z-index: 1642;
}

@include keyframes(pulse) {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.4);
        opacity  : 0;
    }
}

/* Custom, iPhone Retina */