/*------------------------------------*\
    #BACK TO TOP
\*------------------------------------*/

#back-to-top {
    z-index         : 999;
    width           : 38px;
    height          : 38px;
    border-radius   : 2px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    cursor          : pointer;
    transition      : 300ms ease-in-out;
    background-color: #032b56;

    &:hover {
        background-color: var(--global--color-primary);
    }
}